
.SIU{
display: grid;
grid-template-columns: repeat(3,1fr);
background-color:#d0e7ff ;
}
.siu2{
    justify-self: center;
    align-self: center;
}
.perras{
width: 50%;
margin-left: 8rem;
margin-right: 6rem;

}
.react-calendar {
   border: solid;
   width: 30rem;
}

.Borguesa
{
    
width: 40px;
height: 40px;
display: flex;
}
.minn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cont
{
background-color: rgb(63, 222, 243);

}
.logo
{
justify-self: center;
margin: 5px;
height: 80px;

}
.record8{
display: grid;
grid-template-columns: repeat(1,1fr);  
border: solid #d0e7ff;
width: 50%;
margin: auto;
text-align: center;
margin-top: 1rem;
margin-bottom: 1rem;
padding: 1rem;
}

.Ce
{
 margin: 18px;
justify-self: end;
}

.cee
{
    margin-right: 2rem;
}

.Pe
{
    margin-top: 1rem;
    margin-left: 300%;
    display: flex;
    
}

.recordatorio {
      
    margin: 2rem;
   
}

.gggg{
display: grid;
grid-template-columns: repeat(2,1fr);
justify-self: center;
padding: 2rem;
}
.record1
{
        padding: 1rem;
        font-family:initial;
        background-color: rgb(245, 206, 206);
    
    
}
.record2
{        font-family:initial;
    
    text-align: center;
    background-color: rgb(247, 139, 139);
}

.footer {
    background-color: aqua;
    text-align: center;
    padding: 30px;
    font-size: 16px;
  }

  .record3
  { border: solid #d0e7ff;
        background-color: rgb(255, 255, 255);
        padding: 4rem;
        text-align: center;
        width: 75%;
        margin: auto;
        margin-bottom: 2rem;
        border-radius: 1.5rem;
  }
  .record4
{
    margin: auto;
    width: 20%;
    text-align: center;
    background-color: #d0e7ff;
    margin-top: 2rem;
    border-radius: 1.5rem;

}

.inf1,.inf2
{


   
    padding: 30px;
    width: 50%;
    margin: auto;

}
.imf{
    padding: 1rem;
}
.Perff{
margin: auto;
text-align: center;
}
.botoncito{
    width: auto;
    margin: auto;
    border-radius: 1.5rem;
    border: solid #d0e7ff;
}
.titt{
    margin: 1rem;
    padding: 0.5rem;
    border: solid #d0e7ff;
    width:20%;
    justify-self: center;
    border-radius: 1.5rem;
}
.gdd{
     width: auto;
    border-radius: 1.5rem;
    margin: 1rem;
}
.agogo{
    margin: 2rem;
.co2{
    background-color: #d0e7ff;
    border: solid white;
    padding: 10px;
    border-radius: 1.5rem;
}
.co1{
    background-color: #d0e7ff;
    width: 40%;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
}