
.SIU{
display: grid;
grid-template-columns: repeat(3,1fr);
background-color:#d0e7ff ;
}
.siu2{
    justify-self: center;
    align-self: center;
}
.perras{
width: 50%;
margin-left: 8rem;
margin-right: 6rem;

}
.react-calendar {
   border: solid;
   width: 30rem;
}

.Borguesa
{
    
width: 40px;
height: 40px;
display: flex;
}
.minn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cont
{
background-color: rgb(63, 222, 243);

}
.logo
{
justify-self: center;
margin: 5px;
height: 80px;

}

.Ce
{
 margin: 18px;
justify-self: end;
}

.cee
{
    margin-right: 2rem;
}


.Pe
{
    margin-top: 1rem;
    margin-left: 300%;
    display: flex;
    
}



.recordatorio {
      
    margin: 2rem;
   
}

.gggg{
display: grid;
grid-template-columns: repeat(2,1fr);
justify-self: center;
padding: 2rem;





}
.record1
{
        padding: 1rem;
        font-family:initial;
        background-color: rgb(245, 206, 206);
    
    
}
.record2
{        font-family:initial;
    
    text-align: center;
    background-color: rgb(247, 139, 139);
}

.footer {
    background-color: aqua;
    text-align: center;
    padding: 30px;
    font-size: 16px;
  }
  .recordatorio2{
    flex: 1;
    background-color: rgb(243, 176, 176);
    padding: 30px;
    font-size: 18px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    height: 100%;
    

  }
  .record3
  {
        background-color: rgb(255, 255, 255);
        height: 40rem;
        text-align: center;
  }
  .record4
{
    text-align: center;
    background-color: rgb(252, 134, 134);
}

.inf1,.inf2
{
    flex: 1;
    background-color: rgb(243, 176, 176);
    padding: 30px;
    font-size: 18px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);

}
.imf{
    padding: 1rem;
}