#tamaño{
    height: 6rem;
    align-items: center;
}
.but{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.Fooo{
    background-color: black;
    text-align: center;
    height:  auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.GridM{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem;
}
.div3 { 
    grid-area: 3 / 1 / 4 / 3;
    
    text-align: center;
}
.QS{
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr;
    border: solid;
}
.bannerr{
    grid-area: 1 / 1 / 2 / 4;
    background-image: url('../../assets/perros.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
}
.qs1 {
    width: 30%;
    align-self: center;
    border:  none;
    margin: auto;
    background-color: white;
}
.qs2 {
    height: 15rem;
    border: black solid;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}
#qs2-2{
    border: none;
}
.bodes{
    border: solid;
    height: fit-content ;
    margin: 1rem;   
}
.cajon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    margin: 1rem;
}
.cajita1 {
    border: solid;
    }
.servici{
    grid-area: 1 / 1 / 2 / 4; 
    border: solid;
}
.slogan{
    border: solid;
    background-color: white;
    justify-self: end;
    align-self: center;
    padding: 1rem;
}