#HeaderAdmin{
    background-color: #d0e7ff;
}
.InfoAdm{
    margin: 10rem;
    border: solid #A3B9C9 ;
    text-align:center;
    border-radius: 2rem;
}
.INVET{
     border: solid #A3B9C9 ;
     justify-self: center;
border-radius: 2rem;
}