
:root {
  --primary-purple: #ffffff;
  --primary-green: #27ae60;
  --light-blue: #3498db;
  --dark-blue: #203c5b;
  --light-gray: #f1f1f1;
}

#body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  width: 40%; 
  height: 507px; 
  background-color: #ffffff;
 
  border: 1px solid #d1d5db;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.logo-container {
  background-color: var(--light-gray);
  padding: 1.8rem;
  border: radius 10px; 
  
}

.signup-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pet-history-logo {
  margin-top: 30px;
  width: 200px;
  height: 180px;
}

.description-text {
  color: #000000;
  font-size: 0.9rem;
  margin-top: 20px;
}

.form-container {
  
  border-radius: 8px;
  
  
}

.form-title {
  color: var(--black);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-subtitle {
  color: var(--black);
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.google-btn {
  background-color: #1e40af;
  color: white;
  width: 100%;
  margin-bottom: 15px;
}

.option-text {
  text-align: center;
  margin: 15px 0;
  color: #6c757d;
}

.form-control {
  margin-bottom: 15px;
}

.password-hint {
  font-size: 0.75rem;
  color: #6c757d;
  margin-top: -10px;
  margin-bottom: 15px;
}

.attach-link {
  color: var(--light-blue);
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 15px;
  display: block;
}

.register-btn {
  padding: 12px;
  background-color: #4b5563;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
  
}

.slideshow-container {
  background-color: var(--light-gray);
  padding: 10px;
  margin-top: 20px;
}

.slideshow-item {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.slideshow-item.active {
  border-color: var(--light-blue);
}

.slideshow-thumbnail {
  max-width: 100%;
  height: auto;
}

.slideshow-number {
  margin-top: 5px;
  color: var(--dark-blue);
}

.footer {
  background-color: var(--light-gray);
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}


.user-type-container {
  display: flex;
  margin-bottom: 15px;
}

.user-type-option {
  margin-right: 15px;
}